hr {
    opacity: 1 !important;
    height: 10px !important;
    background: #ff76f4;
    background: linear-gradient(90deg, #ff76f4 5%, rgba(255, 253, 75, 0.984) 35%, rgba(117, 39, 233, 0.992034) 70%, #23e5f1 100%); }
  
  .main-formulario {
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../assets/evento-rosa.jpeg);
    background-size: cover;
    color: black; }
  
  .integrante {
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../assets/evento-rosa.jpeg);
    background-size: cover;
    color: black; }
  
  .integrante__img {
    border-radius: 50%; }
  
  .texto-parrafo-ailu {
    color: black;
    font-size: larger; }
  
  .ubicacion {
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../assets/evento-rosa.jpeg);
    background-size: cover;
    color: black; }
  
  .producto:hover {
    background: #ff76f4; }
  
  .eventos:hover {
    color: black !important;
    background-color: rgba(255, 253, 75, 0.984); }
  
  .equipo:hover {
    background-color: rgba(117, 39, 233, 0.992034); }
  
  .contacto:hover {
    color: black !important;
    background-color: #23e5f1; }
  
  .inicio:hover {
    color: black !important;
    background-color: white; }
  
  .insta:hover {
    color: rgba(117, 39, 233, 0.992034) !important; }
  
  .whats:hover {
    color: green !important; }
  
  .fondo-main {
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../assets/evento-rosa-ok.jpeg);
    background-size: cover;
    color: black; }

  
   
