hr{
    opacity: 1;
    height: 10px !important ;
    background: rgb(255,118,244);
    background: linear-gradient(90deg, rgba(255,118,244,1) 5%, rgba(255,253,75,0.9836309523809523) 35%, rgba(117,39,233,0.9920343137254902) 70%, rgba(35,229,241,1) 100%);
}

.main-formulario{
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../proyecto-ailen-ferrari/assets/evento-rosa-ok.jpeg);
    background-size: cover;
    color: black;
}

.integrante{
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../proyecto-ailen-ferrari/assets/evento-verde.jpeg);
    background-size: cover;
    color: black;
}

.integrante__img {
    border-radius: 50%;
}

.texto-parrafo-ailu{
    color: black;
    font-size:larger ;
}

.ubicacion{
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../proyecto-ailen-ferrari/assets/evento-rosa-ok.jpeg);
    background-size: cover;
    color: black;
}
